*{
    margin: 0;
    padding: 0;
}


.dhtc-main {
    background: #f3f3f3;

}

.dh-main {
    margin: 0 auto;
    width: 510px;
    background: #fff;
    padding-bottom: 30px;
}
.td-dhtc {
        margin-top: 20px;
} 

.td-dhtc > p > img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.td-dhtc > h4 {
        font-size: 18px;
    color: #4a4a4a;
    text-align: center;
    margin: 24px 0;
}

.td-dhtc > p {
    color: #4a4a4a;
    text-align: center;

}

.nd-dhtc {
    width: 480px;
    height: auto;
    margin: 0px auto;
    border-style: solid;
    border-width: 1px;
    border-color: #9ea09d;
    margin-top: 15px;
    margin-bottom: 15px;
}

.ttdh {
    width: auto;
    
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #9ea09d;
    font-size: 20px;
    padding: 15px;
    color: #4a4a4a;
    margin-bottom: 0px;
    margin-top: 0px;
}

.ttdh-info {
    width: auto;
    height: auto;
    padding: 15px 15px 15px 15px;
    list-style: none;
}

.ttdh-info > li {

    width: 478px;
    height: 20px;
    margin-bottom: 3px;
}

.nd-dhtc label{
    width: 200px;
    height: 20px;
    color: gray;
    display: table-cell;
}

.nd-dhtc span{
    width: 278px;
    height: 20px;
    font-weight: bold;
    display: table-cell;
}
.muathemsanpham{
       padding-top: 10px;
    text-align: center;
}
.muathemsanpham a:hover {
    opacity: 0.7;
}

.muathemsanpham > a {
    color: #fff;
    background-color: #bb3535;
    padding: 15px 20px;
    font-size: 20px;
    text-decoration: none;
}