.hd-main {
   
    background-color: #f3f3f3;
}

.hd {
    max-width: 1160px;
    height: auto;
    margin: 0px auto;
   
}

.ads {

    margin-top: 10px;
    text-align: center;
}

.ads img {
    width: 1160px;
    height: 75px;
}

.td-hd {
    display: block;
    height: auto;
}

.td-hd > h1 {
            overflow: hidden;
    line-height: 40px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
    padding: 20px 0 5px 0px;
}
}

.cot-trai {
        margin-bottom: 10px;
    overflow: hidden;
    display: block;
}

.top-hd {
    overflow: hidden;
    text-align: center;
}

.top-hd > a {
    display: inline-block;
    text-decoration: none;
    padding: 0 25px;
    vertical-align: middle;
}

.top-hd > a > img {
    display: block;
    
}

.cot-topic {
   float: left;
    overflow: hidden;
    width: 28.5%;
    background: #fff;
    margin-top: 20px;
    
    padding-top: 10px;
}

.cot-topic > h2 {
    display: block;
    overflow: hidden;
    font-size: 16px;
    padding-bottom: 10px;
    padding-left: 15px;
    border-bottom: 1px solid #eee;
    text-transform: uppercase;
}

.ask-sp {
    display: block;
    overflow: hidden;
    margin-bottom: 15px;
    padding-left: 15px;
}

.ask-sp > a {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 0px;
    padding-left: 0px;
    text-decoration: none;
}

.ask-sp > a > img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    float: left;
}

.ask-sp > a > h3 {
        overflow: hidden;
    line-height: normal;
    color: #333;
    display: block;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.ask-sp > a > span {
    display: block;
    vertical-align: top;
    color: #288ad6;
    font-size: 12px;
}

.cot-timkiem {
    float: right;
    overflow: hidden;
    width: 70.5%;
    
    margin-top: 20px;
}

.o-tim-kiem {
       display: block;
    height: 38px;
    border: 1px solid #eee;
    position: relative;
    margin-bottom: 10px;
}

.o-tim-kiem > input {
   display: block;
    border: 0;
    text-indent: 20px;
    border-radius: 0;
}

.o-tim-kiem > button {
        position: absolute;
    top: 0;
    right: -1px;
    border: 0;
    background: #288ad6;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    padding: 6px 20px;
    height: auto;
    cursor: pointer;

}

.hdttmn {
        display: block;
    overflow: hidden;
    line-height: 1.3em;
    font-size: 18px;
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
    border-bottom: 1px solid #eee;
    padding: 10px 15px;
    margin-bottom: 0;
    background: #ffff;
}

.danhsachthuthuat {
        display: block;
    overflow: auto;
    list-style: none;
    padding: 0 15px;
    background: #fff;
}
ul.danhsachthuthuat div {
    text-align: center;
}

.danhsachthuthuat > li {
        display: block;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.danhsachthuthuat > li > a {
        display: block;
    overflow: hidden;
    text-decoration: none;
    position: relative;
}

.danhsachthuthuat > li > a > img {
        float: left;
    height: 100px;
    margin-right: 10px;
}

.danhsachthuthuat > li > a > h3 {
    display: block;
    overflow: hidden;
    line-height: 1.3em;
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-bottom: 0px;
    margin-top: 0px;
}

.danhsachthuthuat > li > a > p {
    display: block;
    overflow: hidden;
    line-height: 20px;
    color: #333;
    margin-top: 5px;
}

.danhsachthuthuat > li > a > div {
    display: block;
    overflow: hidden;
    font-size: 14px;
    color: #999;
    margin-left: 190px;
}

.danhsachthuthuat > li > span {
    display: inline-block;
    color: #999;
    vertical-align: middle;
}

.viewmore {
    display: block;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: #288ad6;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.question {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    height: auto;
}

.nhapcauhoi {
    height: auto;
    width: 100%;
    position: relative;
}

.cauhoi {
    display: block;
    overflow: hidden;
    position: relative;
}

.cauhoi > span {
    display: block;
    color: #999;
    padding: 8px 0;
    min-height: 100px;
}

.gui {
    display: block;
    overflow: hidden;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

.gui > button {
    padding: 6px 36px;
    background: #288ad6;
    text-transform: uppercase;
    border: 0;
    color: #fff;
    cursor: pointer;
}
#txtquestions{
    display: block;
    overflow: hidden;
        padding: 5px 15px 70px;
    box-sizing: border-box;
    width: 100%;

}
.btn{
        width: 84px;
    height: 22px;
    margin: 0 20px;
}
.noidungchitiet{
        padding: 29px;
}
.noidungchitiet>h2{
    font-size: 20px;
    margin: 10px 0;
    color: #333;
    line-height: 28px;
}
.noidungchitiet >a {
    font-size: 20px;
    color: #288ad6;
}
.noidungchitiet>p{
    display: block;
    overflow: hidden;
    font-size: 16px;
    line-height: 26px;
    margin: 10px 0;
}
.noidungchitiet > img{
    width: 470px;
}
#txtKeysearch{
    width: 100%;
    height: 100%;
}
