* {
    margin: 0;
    padding: 0;
}

.f-main-km {
    margin: 0 auto;


    background-color: #f3f3f3;
}

.f-wrap-km {
    width: 1160px;
    margin: 0 auto;
}

.td-km {

    list-style: none;
    display: inline-flex;
    padding-left: 0px;
    margin-top: 0px;
    font-size: 12px;
    padding: 5px 0;
}



.ads img {
    width: 1160px;
    height: 75px;
}

.news {
    width: auto;
    height: auto;
    padding: 15px;
    background: #fff;
}

.td-km>ul>li {

    list-style: none;
    display: inline-block;
    color: #999999;
}

.td-km a {
    color: #0c01ff;
}

.spkmh {
    display: inline-block;
    text-transform: uppercase;
    font-size: 22px;
    color: #2e2e2e;
    margin-bottom: 15px;
    padding-top: 5px;
}

.nd-km {}

.nd-km div:nth-child(3) {
    margin-right: 0;
}

.nd-km div:nth-child(6) {
    margin-right: 0;
}

.nd-km div:nth-child(9) {
    margin-right: 0;
}

.nd-km div:last-child {
    margin-right: 0;
}

.sp-km {
    float: left;
    width: 32.5%;
    margin-right: 14.51px;
    position: relative;
    padding-bottom: 8px;
}

.sp-km>a {
    display: block;
    position: relative;
    background-color: #fff;
}

.ten-sp {
    padding-top: 17px;
    padding-left: 15px;
}

.ten {
    font-size: 18px;
    font-weight: bold;
    color: #1e1e1e;
    line-height: 1.1;
    margin-bottom: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 0px;
}

.gia {
    font-size: 16px;
    font-weight: bold;
    color: #d0021b;
}

.f-img {
    width: 100%;
}

.f-wrap-km img {
    vertical-align: middle;
    max-width: 100%;
}

.f-wrap-km h2 {
    margin-top: 15px;
    margin-bottom: 0px;
    padding-left: 0;
}

.f-wrap-km a {
    outline: none;
    text-decoration: none;
    color: #000;
}

.img-kmddr {

    width: auto;
    height: auto;

}

.km-col {
    float: left;
    width: 49.5%;
    padding-bottom: 0px;
    padding-right: 11.64px;
    margin-bottom: 10px;
}

.img-kmddr div:last-child {
    padding-right: 0;
}

.kmimg {
    display: block;
}

.nd-news {
    width: auto;
    height: auto;

}

.nd-news-row {
    width: auto;
    height: auto;
    margin-left: -8px;
    margin-right: -8px;
}

.kmcol {
    float: left;
    width: 50%;
    margin-bottom: 20px;
}

.kmnimg {
    display: block;
    float: left;
    width: 120px;
    height: 80px;
    overflow: hidden;
    padding-right: 15px;
}

.km-info {}

.tit-km {
    display: block;
    font-size: 15px;
    font-weight: bold;
    color: #3d3d3d;
    s
}

.km-time {
    font-size: 13px;
    color: #9b9b9b;
    padding-top: 5px;
}

.km-more {
    text-align: center;
    margin: 0;
}

.km-more>button {
    padding: 12px 30px;
    font-size: 14px;
    font-weight: bold;
    background-color: #fff;
    border: solid 1px #b2b2b282;
}

#bttop {
    background: rgb(100, 98, 98);
    text-align: center;
    padding: 7px 9px;
    position: fixed;
    border-radius: 10px;
    bottom: 110px;
    right: 24px;
    cursor: pointer;
    display: none;
    color: #fff;
    font-size: 24px;
    font-weight: 900;
    opacity: 0.7;
}

#bttop:hover {
    opacity: 1;
}